
{% extends '/base.html' %}
{% block content %}
   <br><br>
    <div class="container2">
      <a href ={{ url_for('showitems' , game_id = items.game_id )}} > <-- Back </a>
      <h2>Item</h2>
      <p>{{items.name}}</p>
      <h2>Items Description</h2>
      <p>{{ items.description }}</p>
      <a href={{url_for('item_edit',  item_id = items.ids )}}>Edit</a> |
      <a href={{url_for('item_delete', item_id = items.ids)}}>Delete</a>
      <p>{% if er%}{{ er }}{% endif %}
    </div>
    {% endblock %}
